* {
    margin: 0px;
    padding: 0px;
}


/* ----------头部-------- */

.header {
    height: 70px;
    /* background-color: pink; */
}


/* 后代选择器 */

.header .container {
    width: 1280px;
    height: 70px;
    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    /* 主轴对齐 */
    justify-content: space-between;
    /* space-around  等距排列*/
}

.header .logo {
    display: flex;
    /* 侧轴对齐方式 */
    align-items: center;
}

.header .logo img {
    width: 143px;
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .menu img {
    width: 24px;
}

.header .join {
    width: 70px;
    text-align: center;
    font-size: 12px;
    color: #f3a872;
    margin-right: 15px;
}

.header .login {
    width: 86px;
    height: 35px;
    /* 边框 */
    border: 1px solid rgba(0, 208, 132, 36);
    /* 圆角 */
    border-radius: 8px;
    text-align: center;
    line-height: 35px;
    color: #00d084;
    font-size: 15px;
    /* 鼠标变小手 */
    cursor: pointer;
}


/* ----主体------- */

.body-b {
    height: 790px;
    padding-top: 120px;
    background-image: url(../imags/banner.jpg);
    /* width: 100%; */
    /* min-width: none; */
    background-size: 100% auto;
    background-position: 0 bottom;
    /* IE盒子模型 */
    box-sizing: border-box;
}

.body-b .title {
    width: 860px;
    margin: 0 auto;
}

.body-b .title img {
    width: 100%;
}

.body-b .nav {
    width: 480px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.body-b .nav-item {
    width: 120px;
    height: 53px;
    border: 2px solid rgba(190, 113, 0, 4);
    border-radius: 28.5px;
    font-size: 22px;
    color: #682e00;
    text-align: center;
    line-height: 50px;
}

.body-txt {
    width: 1040px;
    height: 240px;
    background-color: aliceblue;
    margin: 0 auto;
    /* 圆角 */
    border-radius: 150px;
    margin-top: 100px;
    box-sizing: border-box;
}

.product {
    width: 1040px;
    height: 240px;
    margin: 0 auto;
    background-color: white;
    margin-top: 100px;
    border-radius: 150px;
    text-align: center;
    font-size: 24px;
    /* 上内边距 */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* IE模盒型，怪异盒模型 */
    box-sizing: border-box;
}

.product-icon {
    height: 150px;
    /* background-color:yellow; */
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: 25px;
}

.product-icon img {
    width: 85px;
    margin-bottom: 10px;
}


/* 主体二 */

.educate {
    height: 630px;
    /* 完美居中1 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.educate .container {
    display: flex;
    width: 1280px;
    height: 310px;
    /* margin: 0 auto; */
    /* 完美居中 */
}

.educate .education-item1 {
    width: 500px;
    height: 100%;
}

.container .education-item2 {
    width: 250px;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 21px;
    text-align: center;
    margin: 0 25px;
}

.container .title {
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: 600;
}

.container .txt {
    margin-top: 45px;
    font-size: 18px;
    color: #525255;
    line-height: 34px;
}

.educate img {
    width: 126px;
}

.body-three {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(179deg, #f7dd5f 1%, #f7dd5f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-three .containers {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
}

.body-three .containers-img {
    width: 720px;
    height: 720px;
    display: flex;
    align-items: center;
}

.body-three .containers-img img {
    width: 360px;
    height: 360px;
}

.body-three .containers-img .img1 {
    position: absolute;
    z-index: 1;
}

.body-three .containers-img .img2 {
    position: absolute;
    z-index: 2;
}

.body-three .containers-img .img2 img {
    width: 188px;
    height: 183px;
    margin-top: 110px;
    margin-left: 90px;
}

.body-three .containers-text {
    width: 1300px;
    height: 300px;
    /* background-color: #00d084; */
}

.body-three .containers-text .title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 42px;
}

.body-three .containers-text .text1 {
    margin-top: 15px;
}

.attrs {
    height: 77px;
    width: 100%;
    margin-top: 64px;
    display: flex;
}

.attr .value {
    margin-right: 70px;
    font-size: 51px;
    letter-spacing: 0;
    line-height: 51px;
    font-weight: 500;
    display: flex;
}

.attr .value .value-of {
    font-size: 29px;
    font-weight: 600;
    margin-left: 6px;
}

.attr .name {
    margin-top: 15px;
}